[Unit]
Description=DOGEBOT service
[Service]
ExecStart=DISCORD_BOT_SECRET=NjEyMDcwOTYyOTEzMDgzNDA1.XxCWhg.PKJVCPR42QCmxpTBP-dN7osFSc4, AUTH=883191588609016 /home/lordrubixcube/dogebot/environments/dogebot/bin/python3 dogebot.py
ExecStop=/bin/kill $MAINPID
KillMode=process
Restart=always
User=1001
WorkingDirectory=/home/lordrubixcube/dogebot
[Install]
WantedBy=multi-user.target
